.p1 {
  color: rgb(0, 0, 0);
  text-align: left;
}

li {
  float: left;
}

#bar {
  background-color: #795548;
  color: black;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
}

#bar:hover {
  background-color: #795548
}

#dichvu {
  text-align: center;
}

#p2 {
  text-align: left;
}

#justify {
  text-align: justify;
}

#none {
  text-align: start;
}




#intro {
  color: rgb(0, 0, 0);
  text-align: center;
}

#portfolio {
  color: rgb(0, 0, 0);
  text-align: center;
}

p {
  color: rgb(0, 0, 0);
  text-align: justify;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

#h3 {
  color: black;
  text-align: center;
}

body {
  background-color: rgb(255, 255, 255);
  color: black;
}

#bttop {
  border: 1px solid rgb(250, 250, 250);
  background: rgb(250, 250, 250);
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 35px;
  right: 10px;
  cursor: pointer;
  display: none;
  color: black;
  font-size: 11px;
  font-weight: 900
}

#bttop:hover {
  border: 1px solid rgb(247, 209, 84);
  background: rgb(247, 209, 84)
}

#bang1 {
  color: white;
  background-color: #795548;
  text-align: center;
  width: 100%;
}

#cuoibang {
  text-align: center;
  color: white;
}

#khuyenmai {
  text-align: center;
}

.container {
  width: 500px;
  margin: auto;
}

/* định dạng cho button */
#myBtn {
  display: none;
  /* Mặc định button sẽ được ẩn*/
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  /* button được ưu tiên hiển thị đè lên các phần khác*/
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  font-size: xx-large;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -moz-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

#myBtn:hover {
  background-color: #555;
}

@media all and (max-width: 480px) {}


/* Dành cho máy tính bảng */
@media all and (max-width: 1024px) {}

#button {
  background-color: #795548;
  color: white;
  width: 100%;
  height: 50px;
  margin: auto;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

#button:hover {
  color: rgb(247, 209, 84);
  background-color: brown;
}

#hinhtron {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -moz-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}


/* Nút Để Mở Chatbox */
.nut-mo-chatbox {
  background-color: #4267b2;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  left: 28px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -moz-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

/* Ẩn chatbox mặc định */
.Chatbox {
  display: none;
  position: fixed;
  bottom: 0;
  left: 15px;
  border: x;
  z-index: 9;
}

/* Thêm style cho form */
.form-container {
  text-align: center;
  max-width: 300px;
  background-color: rgb(0, 149, 255);
}

/* thiết lập style textarea */
.form-container textarea {
  width: 100%;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 100px;
}

/*thiết lập style cho textarea khi được focus */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Sthiết lập style cho nút trong form*/
.form-container .btn {
  background-color: #76f37a;
  color: white;
  text-align: center;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Thiết lập màu nền cho nút đóng chatbox */
.form-container .nut-dong-chatbox {
  background-color: red;
}

/* Thêm hiệu ứng hover cho nút*/
.form-container .btn:hover,
.nut-mo-chatbox:hover {
  opacity: 1;
}